*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.foto{
    background:linear-gradient(
        rgba(0,0,0,.8),
        rgba(0,0,0,.3),
        rgba(0,0,0,.8)
    ), url(../img/italy-1587287_1920.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

header{
    width: 100%;
    height: 8.7vh;
    display:flex;
    border-bottom:1px solid white ;
}

.contenedor{
    float: left;
    width:95%;
    padding: 20px 60px;
}
.contenedor-titulo{
    font-family: 'Jomolhari', serif;
    color: white;
    display: flex;
    float: left;
    width: 20%;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.cont-menu{
    float: left;
    width: 80%;
    height: 100%;
}
.menu{
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.menu ul{
    text-align: right;
    list-style: none;
}
.menu ul li{
    font-family: 'Jomolhari', serif;
    color: white;
    padding-right:80px ;
    display: inline-block;
}


.contenedor-boton-menu{
    border-left: 1px solid white;
    width: 5%;
}
.contenedor-boton-menu button{
    width: 100%;
    height: 69px;
    background: rgba(255, 255, 255, 0.178);
    font-size: 40px;
    color: white;
}
.contenedor-boton-menu button:hover{
    background: rgba(255, 255, 255, 0.575);
}

section{
    height: 91.3vh;
    width: 10%;
    float: left;
}
article{
    
    font-family: 'Jomolhari', serif;
    color: white;
    padding-top: 95px;
}
article h1{
    color: rgba(255, 255, 255, 0.555);
    margin: 0 auto;
    font-size: 150px;
    height: 205px;
}
article h3{
    font-size: 43px;
}
.contenido .boton{
    width: 40%;
    height: 52px;
    background: rgba(255, 255, 255, 0);
    font-family: 'Jomolhari', serif;
    color: white;
    font-size: 20px;
}
.contenido button:hover{
    background: rgba(255, 255, 255, 0.178);

}
.cont{
    text-align: left;
    margin:0 30px 0 70px;
    width: 35%;
    float: left;
    

}
.contenido{
    height: 91.3vh;
    width: 85%;
    float: left;
}

.ctsl h1{
    padding-left: 60px;
    display: inline-block;
    color:
    rgba(255, 255, 255, 0.555);
    margin: 0 auto;
    font-size: 89px;
    height: 106px;
}
.ctsl{
    margin-top: 95px;
}
.table{
    box-shadow: -22px 12px 48px black;
    overflow: hidden;
    position: relative;
    width: 55%;
    border-radius: 20px 20px 20px 20px;
}

.left, .right{
    position: absolute;
    top: 0%;
    font-size: 4em;
    height: 100%;
    border: none;
    color:#f7f7f7;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.479);
}
.left{
    left: 0px;
}
.right{
    right: 0px;
}

.th{
    background: rgba(255, 255, 255, 0.452);
    border-radius: 20px 20px 20px 20px;
    white-space: nowrap;
}
.bloque{
  
    padding: 40px 20px 0 20px;
    
}
.bloque2{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
  display : inline-block;
  white-space : initial;
  color: black;
}
.table .th #C {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    background-size: no-repeat ;
    background-position: 20%;
}


#C{
    display: inline-block;
}








.footer{
    border-left: 1px solid white;
    height: 91.3vh;

    width: 5%;
    float: right;
    
}
.menu-foot{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -30%;
}
.footer ul{
    list-style: none;
}

.footer li{
    padding-top: 34px;
}
.ico{
    width: 30px;
}


@media(max-width: 576px){
    .contenedor-boton-menu button{
        height: 100px;
    }
    .contenedor-boton-menu{
        display: inline-block;
        width: 20%;
    }
    .contenedor{
        width: 80% !important;
        padding: 5px 0 !important;
    }
    .contenedor-titulo{
        float: none!important;
        width: 100%!important;
    }
    .menu{
        display: inline;
    }
    .menu ul li{
        padding-right: 0!important;
    }

    header{
        display: block;
        height: 100px;
    }
    article{
        padding-top: 32px !important;
    }
    article h3{
        font-size: 23px!important;
    }
    article h1{
        font-size: 60px!important;
        height: 100px!important;
    }
    .cont{
        width: 95%!important;
    }
    .th{
        height: 23vh!important;
        border-radius: 20px 20px 20px 20px;
    }
    .bloque{
        margin: 0 auto;
    }
    .table{
        display: block;
        bottom: -10vh;
    }
    .contenido{
        height: 79.3vh;
        float: initial;
        margin: 0 auto;
    }
    .footer{
        border-left: 1px solid white;
        height: initial;
        width: initial;
        float: none;
        
    }
    .footer li{
        padding-right: 15px;
        display: inline-block;
        padding-top: initial;
    }
}
